.project{
    border: 2px solid black;
    margin: 8px;
    border-radius: 20px;
    padding: 8px;
}

.in-work{
    background-color: rgba(240, 10, 10, 0.376);
}

.finished{
    background-color: rgba(14, 240, 10, 0.376);
}